# Logs and databases #
######################
*.log
*.sql
*.sqlite3

# pyache #
######################
*.pyc

# pictures #
######################
*.jpg
*.png
*.JPG



# migrations #
######################
migrations
__pycache__
